{% extends "Layout/_WeShareUniversity.html" %}
{% block content %}
<div id="viewWeSharePanel">
    <div id="titlePanel">
        <div id="Title">歡迎大家來講課！ 一起<span style="background-color:#00CACA;color:#FFF;">&nbsp;共學分享&nbsp;</span>！</div>
        <img src="/sclib/img/viewHome/index/title.png" id="BG1" />
    </div>
    <div id="ChooseSplitPanel">
        <!-- 問題選擇-進入點 -->
        <div class="li"><img src="/sclib/img/viewHome/index/split1.png" /></div>
        <div class="li"><img src="/sclib/img/viewHome/index/split2.png" /></div>
        <div class="li"><img src="/sclib/img/viewHome/index/split3.png" /></div>
        <div class="li"><img src="/sclib/img/viewHome/index/split4.png" /></div>
        <div class="clear">&nbsp;</div> 
    </div>
</div>
<link rel="stylesheet" href="sclib/viewHome/index.css" />
{% endblock %}